strong {
    font-weight: bold;
}

#toast-container {
    top: 10% !important;
    right: auto !important;
    left: 50%;
}

.toast-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}